<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OHouston Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dependencies")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body ng-app="xPlat">
    @RenderBody()
    @Scripts.Render("~/bundles/ohoustoncore")
    @RenderSection("scripts", required: false)
</body>
</html>
